<div class="container__small-card">
<div  class="container__small-main">

    <div class="small-card__photo">
        <a [routerLink]="['content', id]">
        <img 
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/310px-Placeholder_view_vector.svg.png" 
        alt="image"
        >
    </a>
    </div>
    <div class="small-card__title">
        <h1>
            <a [routerLink]="['content', id]">Este é um titulo do small Card</a>
        </h1>   
    </div>

</div>
<div>
    <hr>
</div>
</div>