
<app-menu-title></app-menu-title>
<div class="container__articles">
    <div class="main-article">
        <app-big-card 
        id="1"
        photoCover="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/310px-Placeholder_view_vector.svg.png"
        cardTitle="Titulo Dinamico 1"
        cardDescription="Texto dinamico 1"
        >
        </app-big-card>
    </div>
    <div class="others-articles">
        <app-small-card id="2"></app-small-card>
        <app-small-card id="3"></app-small-card>
        <app-small-card id="4"></app-small-card>
    </div>
</div>